@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #ffffff;
    --color-info-dark: #687584;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;


    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin-top: 0.4rem;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.8rem;
    color: #7d8da1;
    margin-top: 0;
}

h3 {
    font-size: 0.87rem;

}

h4 {
    font-size: 1.0rem;
    color: var(--color-info-dark);
    text-align: justify;
    line-height: 30px;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

h5 {

    font-size: 0.9rem;
}

h6 {
    font-size: 1.1rem;
    color: var(--color-danger);
    
}

small {
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    
}
b{
    color: #57606a;
    font-size: 1.2rem;
}



.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}
.warning {
    color: var(--color-warning);
}

aside{
        height: 100vh;
        
}

aside.top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}


aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

aside.sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;

}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside.sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}


aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}


aside .sidebar a.active span {

    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside.sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

main {
    margin-top: 1.4rem;
    
}

main .form{
        box-sizing: border-box;
      }
      
      main .form input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      
      main .form label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
      
      main .form input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      
      main .form input[type=submit]:hover {
        background-color: #45a049;
      }
      
      main .form .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }
      
      main .form .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
      }
      
      main .form .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
      }
      
      main .form .row::after {
        content: "";
        display: table;
        clear: both;
      }
      
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        
        }
}

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
  
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right.theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);

}

/* ====  recent updates  ===== */

.right .recent-updates{
    margin-top: 1rem;

}

.right .recent-updates h2{
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}
.main1{
    width: auto;
}
#map {
    height: 500px;
    width: 100%;
}
#statistics {
    padding: 20px;
    background-color: #f0f0f0;
}
#schoolList {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.map-container {
    margin-bottom: 20px;
}
.filters-container {
    margin-bottom: 20px;
}
.filters-container label {
    margin-right: 10px;
}
.btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.btn:hover {
    background-color: #0056b3;
}

